<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>CodingPractice.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>DP.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>13</integer>
		</dict>
		<key>Dynamic Programming.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>12</integer>
		</dict>
		<key>Graphs.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>10</integer>
		</dict>
		<key>GroupAnagrams.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>6</integer>
		</dict>
		<key>Justification.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>11</integer>
		</dict>
		<key>Karp-Rabin.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>7</integer>
		</dict>
		<key>LinearTimeSortingAlgo.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>3</integer>
		</dict>
		<key>LinearTimeSortingAlgorithm.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>4</integer>
		</dict>
		<key>LinearTimeSortingAlgorithms.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
		<key>LongestPalindromicSubsequence.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>15</integer>
		</dict>
		<key>NonRepeatableChar.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>8</integer>
		</dict>
		<key>Pointers.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>5</integer>
		</dict>
		<key>RemoveDuplicatesFromStrings.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>9</integer>
		</dict>
		<key>StringReverse.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>powerSet.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>14</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>1F03FE271BD05723009CDC73</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1F53B2B11C06481000F84B5C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1F53B2BC1C06489700F84B5C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1F53B2C71C06537900F84B5C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1F53B2D31C07BDB800F84B5C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1FDCACA51C03910100D21ADA</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1FDCACB01C050CCB00D21ADA</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1FE3EB7E1C29E4B7000402D9</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1FE7403C1C0B770C00FE9A81</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1FE740471C0CD2DC00FE9A81</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1FE740521C0CD4B700FE9A81</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1FE7405D1C1101DA00FE9A81</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1FE740681C132A7200FE9A81</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1FE740731C144BB400FE9A81</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1FE7407E1C14AB5D00FE9A81</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1FE740891C14DD8E00FE9A81</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
